
<div class="card mb-5 mx-auto" style="width: 18rem;">
  <div class="card-header">
    <h5 class="text-center"><%= link_to event.name, event %></h5>
  </div>
  <div class="card-body">
    <p class="card-text"><strong>Event:</strong> <%= event.name %></p>
    <p class="card-text"><strong>Description:</strong> <%= event.description %></p>
    <p class="card-text"><strong>Date:</strong>  <%= event.date %></p>
  </div>
  <div class="card-footer">
    <p><strong>Event by:</strong> <%= event.creator.name  %></p>
  </div>
</div>



       
        
        
       
        
 